<div class="transaction-page">
  <h2>Transaction Page</h2>

  <form class="transaction-form" (submit)="transfer()">
    <!-- Account Number (Readonly) -->
    <div class="form-group">
      <label for="accountNumber">Account Number:</label>
      <select
        id="account"
        [(ngModel)]="selectedAccount" 
        name="account"
        required
        (ngModelChange)="getAccountName($event)"
      >
        <option
          *ngFor="let account of accountDetails"
          [value]="account.accountNumber"
        >
          {{ account.accountNumber }}
        </option>
      </select>
    </div>

    <!-- Total Amount -->
    <div class="form-group" *ngIf="accountBalance!= 0">
      <label for="totalAmount">Total Amount:</label>
      {{ accountBalance }}
    </div>
    <!-- Beneficiary List Dropdown -->
    <div class="form-group">
      <label for="beneficiary">Beneficiary:</label>
      <select
        id="beneficiary"
        [(ngModel)]="selectedBeneficiary"
        name="beneficiary"
        required
        (ngModelChange)="getBeneficiaryAccountNumber($event)"
      >
        <option
          *ngFor="let beneficiary of beneficiaries"
          [value]="beneficiary.beneficiaryId"
        >
          {{ beneficiary.beneficiaryName }}
        </option>
      </select>
    </div>
 <!-- Total Amount -->
 <div class="form-group" >
  <label for="accountNumber">Beneficiary Account Number:</label>
  {{ beneficiaryAccountNumber }}
</div>


    <!-- Account Name (Readonly) -->
    <!-- <div class="form-group">
      <label for="accountName">Account Name:</label>
      <div class="form-group">
        <label for="totalAmount">Total Amount:</label>
        {{ accountName }}
      </div>
      </div>  -->



    <!-- Transfer Amount -->
    <div class="form-group">
      <label for="transferAmount">Transfer Amount:</label>
      <input
        type="number"
        id="transferAmount"
        [(ngModel)]="transferAmount"
        name="transferAmount"
        placeholder="Enter transfer amount"
        required
        (keyup)="validateAmount()"
      />
      <div *ngIf="!isValidAmount" >
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Invalid Transfer Amount!</strong>
          <span class="block sm:inline">Plase check balance amount.</span>
        </div>
      </div>

    </div>

    <!-- Transfer Button -->
    <button *ngIf="!flag" type="submit" class="transfer-button">Transfer</button>
    
  </form>
  <div *ngIf="flag">
    <div class="bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3" role="alert">
      <p class="font-bold text-center">Transaction Successful</p>
      <p class="text-sm text-blue-700"><a routerLink="/dashboard">Go to Dashboard</a></p>
    </div>
  </div>
  
</div>
