<div class="dashboard-container">
  <h2 class="dashboard-title">Dashboard</h2>

  <!-- Profile Dropdown Menu -->
  <div class="profile-menu">
    <button class="profile-btn" (click)="toggleProfileMenu()">
      Profile <span>&#9662;</span>
    </button>
    <ul class="dropdown-menu" *ngIf="showProfileMenu">
      <li>
        <a
          routerLink="/view-profile"
          [class.active]="isActive('/view-profile')"
        >
          View Profile
        </a>
      </li>
      <li>
        <a
          routerLink="/update-profile"
          [class.active]="isActive('/update-profile')"
        >
          Edit Profile
        </a>
      </li>
      <li>
        <a
          routerLink="/app-validate-customer"
          [class.active]="isActive('/app-validate-customer')"
        >
          Validate Customer
        </a>
      </li>
    </ul>
  </div>

  <!-- Welcome Message -->
  <div class="links">
    <p>
      Welcome, <strong>{{ username }}</strong>
    </p>
  </div>
  <div style="display: flex; flex-direction: row; gap: 10px;">
    <!-- Fund Transfer Button -->
    <button
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
      [routerLink]="['/app-transaction']"
    >
      Fund Transfer
    </button>
  
    <!-- Beneficiary Button -->
    <button
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
      [routerLink]="['/app-beneficiary']"
    >
      Beneficiary
    </button>

     <!-- Apply for Loan Button -->
     <button
     class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
     [routerLink]="['/app-loan-application']"
   >
     Apply for Loan
   </button>
   
       <!-- Approvals button for admin visible only -->
       <button *ngIf="isAdmin"
       class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
       [routerLink]="['/app-loan-approvals']"
     >
       Loan Approvals
     </button>
     
  </div>
  
  <!-- Account Details Section -->
  <div
    class="account-details"
    *ngIf="accountDetails.length > 0; else noAccounts"
  >
    <h3>Your Accounts</h3>
    <table class="account-table">
      <thead>
        <tr>
          <th>Account Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accountDetails">
          <td>
            <a
              [routerLink]="['/app-account-details', account.accountNumber]"
              [class.active]="
                isActive('/app-account-details/' + account.accountNumber)
              "
            >
              {{ account.accountNumber }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noAccounts>
    <p class="error-message">{{ errorMessage }}</p>
  </ng-template>
</div>
