<div class="otp-container">
  <div class="otp-card">
    <h2>OTP Validation</h2>
    <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp()">
      <div class="form-group">
        <label for="otp">Enter OTP</label>
        <input 
          id="otp" 
          formControlName="otp" 
          type="text" 
          maxlength="6"
          placeholder="Enter 6-digit OTP"
        />
        <div class="error-message" *ngIf="otpForm.get('otp')?.invalid && otpForm.get('otp')?.touched">
          Please enter a valid 6-digit OTP.
        </div>
      </div>
      <button type="submit" [disabled]="otpForm.invalid">
        Validate OTP
      </button>
    </form>

    <div *ngIf="isSuccess" >
      <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Goto Loin page</strong>
        <span class="block sm:inline"><a routerLink="/login">Login</a> </span>
      </div>
    </div>

  </div>
</div>
